<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ algo }} Visualization</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{{ algo }} - Agglomerative Clustering</h1>

    <h2>Dendrogram</h2>
    <img src="{{ url_for('static', filename=dendrogram.split('static/')[1]) }}" alt="Agglomerative Dendrogram">

    <h2>Agglomerative Clustering Scatter Plot</h2>
    <img src="{{ url_for('static', filename=scatter_plot.split('static/')[1]) }}" alt="Agglomerative Clustering Scatter Plot">

    {% if silhouette_score is not none %}
    <h3>Silhouette Score: {{ silhouette_score }}</h3>
    {% endif %}
</body>
</html>
