<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EPL Analyzer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
        <h1>Start</h1>
        <form action="/visualize" method="post">
            <select name="algo">
                {% for algo in algorithms %}
                    <option value="{{ algo }}">{{ algo }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit">Letss Gooo!</button>
        </form>
    </div>
</body>
</html>
